<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Books to Read</h1>
    <h2>Books to Read</h2>
    <h3>Books to Read</h3>
    <h4>Books to Read</h4>
    <h5>Books to Read</h5>
    <h6>Books to Read</h6>
    <p>There are a lot of books to read for you</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nisi velit ipsum rerum reprehenderit repellat, voluptas iusto cum, excepturi dolore architecto eum earum similique. Qui placeat earum tempora beatae sed ipsa architecto? Veniam, soluta.</p>
    <hr>
    <a href='https://codewithharry.com'>Click here to go to Harrys website</a>
    <a href="/about.html">Go to about</a>
    <hr>
    <!-- Image tag -->
     <img src="https://cdn.pixabay.com/photo/2019/10/16/09/09/doraemon-4553920_1280.png" alt="Error" width="121px">
    <hr>
     <!-- bold italic and underline tags -->
      <b>This is bold</b>
      <i>This is italic</i>
      <u>This is underline</u>
      
</body>
</html>