<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallpapers</title>
</head>
<body>
    <h1>Wallpapers</h1>
    <img src="https://1.bp.blogspot.com/-voH52mY4MGE/XVpbcPr74DI/AAAAAAAAA10/Oskzv0XwyhwE-5i0rm5hKJX-b9gq1gIywCLcBGAs/s1600/shraddha-kapoor-beautiful-pics.jpg" alt="Error" width="121px">
    <img src="https://i.pinimg.com/736x/97/98/fa/9798fa196ab185f08f0c69a6b6534c3d.jpg" alt="" width="121px">
    <img src="https://1.bp.blogspot.com/-f3o3zPhebC0/X4p-c2Hkq1I/AAAAAAAABVk/92aqfkAMvsEJs504qaLsBoqcBDYd0ALJgCLcBGAsYHQ/w640-h640/Shraddha-Kapoor-loose-curly-waves.webp" alt="" width="121px">
</body>
</html>