.container {
  position: relative;
  background-color: #0e0e0e;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
  height: 90vh;
  width: 100%;
}

.cover {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90vh;
}

.main {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main a {
  text-decoration: none;
  flex: 1;
  display: block;
  color: #838383;
  font-weight: 800;
  font-size: 22px;
}

.main .links_container {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.main .links_container p {
  color: #838383;
  font-weight: 600;
  text-transform: uppercase;
}

.main .links_container .link_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.link_container .links {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.link_container .links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 8px 10px;
  transition: all 0.4s ease;
}

.link_container .links a:hover {
  background-color: #242424;
  border-radius: 50px;
}

.link_container .links a:hover img {
  transform: rotate(0);
}

.link_container .links a img {
  height: 16px;
  width: 16px;
  transform: rotate(-45deg);
  transition: all 0.4s ease;
}

.link_container .links a p {
  color: #eeeeee;
  font-size: 16px;
  text-transform: capitalize;
}

.container .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.copyright {
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.copyright p {
  font-size: 24px;
}

.copyright .email h3 {
  font-size: 22px;
  font-weight: 250;
  margin-bottom: 5px;
}

.copyright .email h1 {
  font-family: poppins;
  font-weight: 500;
  cursor: pointer;
  font-size: 34px;
}

.heading h1 {
  font-size: 10vw;
  letter-spacing: 1px;
  color: aquamarine;
  transform: translateY(10vh);
}

@media (max-width: 768px) {

  .container {
    height: 38vh;
  }
  
  .cover {
    height:38vh;
  }

  .main a {
    display: none;
  }

  .links_container {
    width: 100%;
    justify-content: space-between;
  }

  .main .links_container p {
    font-size: 12px;
  }

  .link_container {
    gap: 10px;
  }

  .link_container .links {
    gap: 5px;
  }

  .link_container .links a {
    gap: 3px;
    padding: 6px 8px;
  }

  .link_container .links a p {
    font-size: 12px;
  }

  .main {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  .heading h1 {
    transform: translateY(3vh);
    color: aquamarine;
  }

  .copyright {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .copyright p {
    font-size: 10px;
  }

  .copyright .email h3 {
    font-size: 10px;
    margin-bottom: 2px;
  }

  .copyright .email h1 {
    font-size: 12px;
  }
}
